%html
  %head
    %script{ src: '//code.jquery.com/jquery-2.1.4.min.js' }
    %script{ src: '//cdnjs.cloudflare.com/ajax/libs/ol3/3.8.2/ol-debug.js' }
    %link{ type: 'text/css', rel: 'stylesheet', href: '//cdnjs.cloudflare.com/ajax/libs/ol3/3.8.2/ol.min.css' }
    %link{ type: 'text/css', rel: 'stylesheet', href: '/app.css' }

    %script{ src: '/app.js' }
  %body
    #map